name: daily_expense_monitor_app
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1

environment:
  sdk: ^3.5.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  get: ^4.7.2
  logger: ^2.5.0
  flutter_screenutil: ^5.9.3
  flutter_svg: ^2.0.10+1
  flutter_localizations:
    sdk: flutter
  flutter_gen_runner: ^5.6.0
  sqflite: ^2.4.2
  get_it: ^8.0.3
  path: ^1.9.0
  intl: ^0.20.2
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  build_runner: ^2.4.11
  test: ^1.25.2
  mocktail: ^1.0.3
  integration_test:
    sdk: flutter

flutter:
  {
    uses-material-design: true,
    generate: true,
    assets:
      [
        "assets/icons/",
        "assets/fonts/",
      ],
    fonts:
      [
        {
          family: WorkSans,
          fonts:
            [
              { asset: assets/fonts/work_sans.ttf, weight: 500 },
            ],
        },
      ],
  }

flutter_gen:
  {
    line_length: 120,
    integrations: { flutter_svg: true, lottie: true },
    fonts: { enabled: true, outputs: { class_name: FontFamily }, },
  }
